body{
    font-family: "Google Sans", sans-serif;
    margin: 0;
    letter-spacing: 2px;
    background-image: url("../images/sitemap-back.png");
    background-size: cover;
}

.personal{
    background-color: #00816A;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 50px;
    color: white;
}

.name{
    font-size: 45px;
}

.ids{
    font-size: 20px;
    font-weight: normal;
}

.workload{
    background-color: #e0fff8;
    border-radius: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.workload h1{
    font-size: 40px;
    color: #005445;
}

.box{
    background-color: #53392A;
    width: 50%;
    color: white;
    padding: 10px;
    border-right: 10px #A66842 solid;
    border-left: 10px #A66842 solid;
    margin: 0 auto 20px auto;
}

.box .main{
    font-size: 25px;
    font-weight: bold;
    background-color: #A66842;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.box p{
    margin: 0;
}

.box div{
    margin-top: 20px;
}