footer{
	background-color: #20BA9C;
	padding-top: 30px;
	text-align: center;
	color: white;
}

footer img{
	width: 250px;
	display: inline-block;
	vertical-align: middle;
}

footer ul{
	list-style-type: none;
	padding-left: 0;
}

footer ul a{
	text-decoration: none;
	font-size: 20px;
	color: white;
	transition: all 0.3s ease;
}

footer ul a:hover{
	color: #53392A;
}

footer ul li{
	padding-right: 25px;
	display: inline-block;
}

.navigation{
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}

.btn{
	display: inline-block;
	vertical-align: middle;
	padding: 15px;
	font-size: 20px;
	border-radius: 10px;
	background-color: #A66842;
	border: none;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
	text-decoration: none;
}

.btn:hover{
	background-color: #53392A;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
#copyright{
	background-color: #005445;
	margin: 30px 0 0 0;
	font-weight: normal;
	padding: 15px 30px;
	text-align: left;
	color: white;
}

#copyright span{
	float: right;
}

#copyright span a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s ease;
}

#copyright span a:hover{
	color: #20BA9C;
}