html, body{
    margin: 0;
    font-family: "Google Sans", sans-serif;
    height: 100%;
    transition: all 1s ease;
}

#body{
    background-color: #58ba83;
}

/* override footer.css position property */
nav{
    position: relative !important;
}

.page-title{
    font-size: 40px;
    text-transform: uppercase;
    background-color: #A4F4DB;
    padding: 20px;
    text-align: center;
    margin: 0;
}

#content{
    height: 100%;
    margin: 30px 0;
    position: relative;
}

#large-image{
    width: 40%;
    height: 100%;
    float: left;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    object-fit: cover;
    object-position: center;
    transform: scale(0.95, 0.95);
}

#large-image.animate{
    opacity: 0.5;
    transform: scale(0.9, 0.9);
}

#title1{
    color: white;
    position: absolute;
    bottom: 80px;
    font-size: 40px;
    margin-right: 30px;
    margin-left: 50px;
    letter-spacing: 4px;
    max-width: 35%;
}

#right-side{
    width: 60%;
    height: 100%;
    float: right;
}

.theme{
    position: relative;
    top: 20px;
    margin-right: 30px;
    background-color: #A4F4DB;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in;
    overflow: hidden;
    float: right;
    text-align: center;
    line-height: 50px;
}

.theme:hover{
    width: 300px;
}

.theme select{
    display: none;
    width: 100px;
    border: none;
    border-radius: 50px;
    padding: 10px;
}

.theme label{
    display: none;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 20px;
}

#text-color:hover{
    width: 240px;
}

.text{
    clear: right;
}

#title2{
    margin: 30px;
    padding: 20px;
    transition: color 0.3s ease-in;
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    color: #757575;
}

#description{
    font-size: 20px;
    line-height: 1.4;
    text-align: justify;
    padding: 20px;
    margin: 30px;
    transition: color 0.3s ease-in;
    background-color: white;
    border-radius: 15px;
    color: #757575;
}

.thumbnail-row{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.thumbnail{
    width: 120px;
    height: 160px;
    display: inline-block;
    transition: all 0.2s ease;
    border-radius: 20px;
    margin: 10px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

input[type=radio]{
    appearance: none;
}

input[type=radio] + img{
    cursor: pointer;
}

[type=radio]:checked + img{
    transform: scale(1.2, 1.2) !important;
}