body{
    margin: 0;
    font-family: "Google Sans", sans-serif;
}

.container{
    background-color: #e2e2ec;
    /*height: 500px;*/
    width: 100%;
    padding: 50px;
}

.title{
    padding-left: 15px;
    border-left: 3px #53392A solid;
}

.property-row{
    width: 60%;
    text-align: center;
}

.property{
    background-color: #A66842;
    width: 110px;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    margin: 10px 15px 10px 0;
    transition: all 0.3s ease;
}

.property:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
    background-color: #53392A;
}

.value{
    font-size: 30px;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.key{
    margin: 0;
    color: white;
    font-size: 14px;
}

.location{
    color: #797575;
    font-size: 24px;
    margin-left: 18px;
}

.description{
    color: #605b5b;
    margin-top: 50px;
    font-size: 20px;
    max-width: 60%;
    text-align: justify;
    line-height: 28px;
}

.location i, .property i{
    margin-right: 8px;
}