body{
    font-family: "Google Sans", sans-serif;
    margin: 0;
    letter-spacing: 2px;
}

.personal{
    background-color: #00816A;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 50px;
    color: white;
}

.name{
    font-size: 45px;
}

.ids{
    font-size: 20px;
    font-weight: normal;
}

.workload{
    background-color: #e0fff8;
    border-radius: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.workload h1{
    font-size: 40px;
    color: #005445;
}

dl{
    font-size: 25px;
    margin-left: 70px;
}

dt{
    padding: 10px;
    font-weight: bold;
    color: #00816A;
}

dd{
    margin-left: 50px;
    padding-bottom: 8px;
    color: #A66842;
    display: list-item;
    list-style-type: disc;
}