html, body{
    margin: 0;
    background-image: url("../images/sitemap-back.png");
    background-size: cover;
    text-align: center;
    font-family: "Google Sans", sans-serif;
}

.title{
    letter-spacing: 3px;
    padding: 20px;
    background-color: #53392A;
    color: white;
    border-right: 10px #A66842 solid;
    border-left: 10px #A66842 solid;
    margin: 20px auto 10px auto;
    width: 30%;
}

.space{
    height: 58px;
}

svg{
    background-color: #EBF0F4;
    border-radius: 30px;
    border: 5px white solid;
    width: 80%;
    margin: 30px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

rect{
    fill: #3B4F4F;
    transition: all 200ms ease;
    stroke: #005445;
    stroke-width: 5px;
    cursor: pointer;
}

rect:hover{
    fill: #20BA9C;
}

text{
    font-size: 40px;
    font-family: "Google Sans", sans-serif;
    fill: white;
    text-anchor: middle;
    dominant-baseline: middle;
}

line, polyline{
    stroke: #005445;
    stroke-width: 5px;
}

.popular{
    font-size: 35px;
}

.sanjula-lines{
    stroke: #A66842;
}